# feature flags
OPTIMIZE_IMAGES="false"

# configuration
DIRECT_URL="postgresql://postgres:password@localhost:5432/postgres?statement_cache_size=0"
DATABASE_URL="postgresql://postgres:password@localhost:5432/postgres?statement_cache_size=0"
SESSION_SECRET="super-duper-s3cret"
