# macos
.DS_Store

# dependencies
node_modules

# build artifacts
/build
/public/build
.env
.cache
/app/styles/tailwind.css

# test artifacts
/cypress/screenshots
/cypress/videos
/postgres-data

# byte-compiled / optimized / dll files
__pycache__/
*.py[cod]
*$py.class
*.pyc
.vercel
