@font-face {
  font-family: 'Univers Next W02 Light';
  src: url('/fonts/875712e3-9c93-4f0b-a46a-a278e69a71f6.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'UniversNW01-23 0BThin';
  src: url('/fonts/a1c4330f-ba73-4f1f-aa05-bd237c58ba51.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'UniversTE20L';
  src: url('/fonts/TE20L-0A212F48-0D4B-43DA-A24C-F36D66965FA4.woff2')
    format('woff2');
  font-feature-settings: 'kern' 1, 'liga' 1, 'dlig' 0;
  font-display: swap;
}

@font-face {
  font-family: 'UniversTE20T';
  src: url('/fonts/TE20T-0A212F48-0D4B-43DA-A24C-F36D66965FA4.woff2')
    format('woff2');
  font-feature-settings: 'kern' 1, 'liga' 1, 'dlig' 0;
  font-display: swap;
}

@font-face {
  font-family: 'UniversTE40L';
  src: url('/fonts/TE40L-0A212F48-0D4B-43DA-A24C-F36D66965FA4.woff2')
    format('woff2');
  font-feature-settings: 'kern' 1, 'liga' 1, 'dlig' 0;
  font-display: swap;
}

@font-face {
  font-family: 'UniversTE40T';
  src: url('/fonts/TE40T-0A212F48-0D4B-43DA-A24C-F36D66965FA4.woff2')
    format('woff2');
  font-feature-settings: 'kern' 1, 'liga' 1, 'dlig' 0;
  font-display: swap;
}

@font-face {
  font-family: 'UnicodeL';
  src: local('Hiragino Sans W3'), local('HiraginoSans-W3'),
    local('Hiragino Kaku Gothic Pro'), local('Osaka'), local('????'),
    local('Meiryo'), local('?? ?????'), local('MS PGothic'), local('sans-serif');
  font-weight: 500;
  font-feature-settings: 'kern' 1, 'liga' 0, 'dlig' 0;
  font-display: swap;
}

@font-face {
  font-family: 'UnicodeT';
  src: local('Hiragino Sans W1'), local('HiraginoSans-W1'),
    local('Hiragino Kaku Gothic Pro'), local('Osaka'), local('????'),
    local('Meiryo'), local('?? ?????'), local('MS PGothic'), local('sans-serif');
  font-weight: 200;
  font-feature-settings: 'kern' 1, 'liga' 0, 'dlig' 0;
  font-display: swap;
}
