body,
html,
div,
table,
ul,
ol,
form,
input,
select,
textarea,
p,
span,
svg,
img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  font-weight: 300;
  vertical-align: baseline;
  word-wrap: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-kerning: auto;
  font-kerning: auto;
}

body,
html,
div,
table,
ul,
ol,
form,
input,
select,
textarea,
p,
span,
svg,
img {
  font-family: 'UniversTE20T', 'UnicodeT';
}

body,
html,
div,
table,
ul,
ol,
p,
span,
svg,
img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-variant: normal;
  font-size: 17px;
  line-height: 20px;
  color: #0f0e12;
  background-color: white;
  -webkit-text-size-adjust: none;
}

body.edit {
  font-size: 17px;
  line-height: 20px;
}

i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}

select option {
  font-family: sans-serif;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
}

ol {
  list-style-type: none;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0 0;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

td {
  padding: 0;
  margin: 0;
  vertical-align: top;
}

a {
  text-decoration: none;
}

a:hover,
a:visited,
a:link,
a:active {
  color: inherit;
}

html,
body {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.hidecursor * {
  cursor: none !important;
}

.nowrap {
  white-space: nowrap;
}
