@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 175 77.4% 26.1%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 175 77.4% 26.1%;
    --primary-foreground: 0 0% 100%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}


@layer base {
  /* optimize legibility; see https://rauno.me/interfaces */
  body,
  html {
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-text-size-adjust: none;
  }

  /* hide image alt text; see https://stackoverflow.com/a/37192970 */
  img[alt]:after {
    @apply absolute inset-0 flex h-full w-full items-center justify-center bg-inherit text-center text-xs;
    content: attr(alt);
  }

  /* hide outline on focus */
  :focus {
    outline: none;
  }
}

@layer utilities {
  /* override the default backdrop filter order that TailwindCSS provides */
  .backdrop-order {
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-saturate)
      var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
      var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
      var(--tw-backdrop-opacity) var(--tw-backdrop-brightness)
      var(--tw-backdrop-sepia);
  }

  /* center absolutely and fixed positioned elements */
  .center {
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

/* FIXME instead of defining this as a reusable TailwindCSS class, this should
 * be defined in a reusable <IconButton> wrapper. However, dealing with TS types
 * wasn't worth it for now; this was a lot easier.
 */
@layer components {
  .icon-button {
    @apply flex h-6 w-6 cursor-pointer items-center justify-center text-gray-900/40 transition-colors transition-shadow disabled:cursor-not-allowed dark:text-gray-100/40;
    &.square {
      @apply rounded;
    }
    &:not(.square) {
      @apply rounded-full;
    }
    &.outlined {
      @apply border border-gray-200 bg-gray-100/50 text-gray-900/40 shadow-sm dark:border-gray-700 dark:bg-gray-800/50 dark:text-gray-100/50;
      &:not(:disabled):hover,
      &:not(:disabled):focus {
        @apply border-gray-300 bg-gray-200/50 dark:border-gray-600 dark:bg-gray-700/50;
      }
      &:disabled {
        @apply cursor-not-allowed border-gray-200/50 text-gray-900/20 shadow-none dark:border-gray-700/50 dark:text-gray-100/20;
      }
    }
    &:not(.outlined) {
      &:not(:disabled):hover,
      &:not(:disabled):focus {
        @apply bg-gray-900/5 text-gray-900 dark:bg-gray-100/5 dark:text-gray-100;
      }
      &:disabled {
        @apply cursor-not-allowed text-gray-900/20 dark:text-gray-100/20;
      }
    }
  }

  .button {
    @apply h-8 rounded border px-2 transition-colors;
    &:not(.outlined) {
      @apply border-gray-900 bg-gray-900 text-white dark:border-white dark:bg-white dark:text-gray-900;
      &:not(:disabled):hover,
      &:not(:disabled):focus {
        @apply bg-transparent text-gray-900 dark:bg-transparent dark:text-white;
      }
    }
    &.outlined {
      @apply border-gray-200 bg-gray-100/50 text-gray-900 shadow-sm dark:border-gray-700 dark:bg-gray-800/50 dark:text-gray-100;
      &:not(:disabled):hover,
      &:not(:disabled):focus {
        @apply border-gray-300 bg-gray-200/50 dark:border-gray-600 dark:bg-gray-700/50;
      }
    }
  }

  .input {
    @apply h-8 w-full appearance-none rounded border border-gray-200 bg-white px-3 outline-none transition-colors dark:border-gray-700 dark:bg-gray-900;
    &:not(:disabled):hover,
    &:not(:disabled):focus {
      @apply border-gray-300 dark:border-gray-600;
    }
  }

  .frosted {
    @apply backdrop-order dark:backdrop-order bg-white/75 backdrop-blur-md backdrop-brightness-150 backdrop-contrast-50 backdrop-saturate-200 dark:bg-gray-900/75 dark:backdrop-brightness-75 dark:backdrop-contrast-75;
  }

  .underline {
    @apply decoration-1 underline-offset-1;
    &.link {
      @apply decoration-gray-900/40 transition-colors hover:decoration-gray-900 dark:decoration-gray-100/40 dark:hover:decoration-gray-100;
    }
  }
}

@supports (scrollbar-width: thin) {
  * {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.gray.100') theme('colors.white');
  }

  .light,
  .light * {
    scrollbar-color: theme('colors.gray.100') theme('colors.white');
  }

  .dark,
  .dark * {
    scrollbar-color: theme('colors.gray.800') theme('colors.gray.900');
  }
}
