name: Release
on:
  push:
    branches:
      - main
      - '*.x'
  pull_request:
    branches:
      - main
      - '*.x'

concurrency:
  group: ${{ github.repository }}-${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  dry-release:
    name: Dry Release
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate-token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.RELEASE_APP_ID }}
          private_key: ${{ secrets.RELEASE_PEM }}

      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Setup pnpm
        uses: pnpm/action-setup@v2

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: package.json
          cache: pnpm

      - name: Download deps
        run: pnpm install --frozen-lockfile

      - name: Checkout branch
        run: git checkout $GITHUB_HEAD_REF

      - name: Release
        run: unset GITHUB_ACTIONS && pnpm semantic-release --dry-run
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}

  release:
    name: Release
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'pull_request' }}
    needs:
      - dry-release
    steps:
      - name: Generate token
        id: generate-token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.RELEASE_APP_ID }}
          private_key: ${{ secrets.RELEASE_PEM }}

      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ steps.generate-token.outputs.token }}
      
      - name: Setup pnpm
        uses: pnpm/action-setup@v2

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: package.json
          cache: pnpm

      - name: Download deps
        run: pnpm install --frozen-lockfile

      - name: Release
        run: pnpm semantic-release --ci
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
